@model ProjectOpen.Models.ViewModel.ProjectDepartmentTable

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#@Model.Identifier">
			@Model.projectDepartmentDescription (@Model.QtyOfProjects Projects) </a>
		</h3>
	</div>
                                                
	<div id="@Model.Identifier" class="panel-collapse collapse">
		<div class="panel-body">
				<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Project Name</th>
						<th class="hidden-xs">Owner</th>
                        <th class="hidden-xs">PM</th>
						<th>Current Status</th>
                        <th>Next Deliverable (Due)</th>
                        <th>Progress</th>
                        <th>With User</th>
                        <th class="align-center">Details</th>
					</tr>
				</thead>
				<tbody>
                    @foreach(Project p in Model.Projects) {
						<tr>
							<td>@p.ProjectId</td>
							<td>@p.ProjectName</td>
							<td class="hidden-xs">@p.ProjectOwner.StaffDisplayName</td>
                            <td class="hidden-xs">@if(p.ProjectProjectManager == null)
                                                    {
                                                        @:Not Appointed
                                                    }
                                                    else
                                                    {
                                                        @p.ProjectProjectManager.StaffDisplayName
                                                    }

                            </td>
							<td><span class="label label-warning">Specified (08.03)</span></td>
                            <td>Quote (25.03)</td>
                            <td>
                                <div class="progress progress-striped active">
									<div style="width: 70%;" class="progress-bar progress-bar-success">70%</div>
								</div>
                            </td>
                            <td>S. Wright</td>
                            <td class="align-center"><a href="/Home/Project/@p.ProjectId"><span class="icol-clipboard-text">&nbsp;</span></a></td>
						</tr>
                    }
                </tbody>
			</table>
        </div>
	</div> <!-- /.widget-content -->
</div> <!-- /.widget .box -->
					

